export(cccd,cccd.rw,cccd.classifier,cccd.classifier.rw)
import(igraph) 
importFrom(proxy,dist)
importFrom(FNN,get.knn,get.knnx)
importFrom(deldir,deldir)
export(cccd.classify,cccd.multiclass.classifier,cccd.multiclass.classify)
export(ccd)
export(prune)
export(dominate)
export(gg)
export(juggle,juggle.classify)
export(nng,rng)
S3method(plot,cccd)
S3method(plot,cccdClassifier)
S3method(plot,ccd)
